<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <% include ../partials/header %>

        <% if (jam.rec['meta']['body']) { %>
        <%-core.hbsParse(jam.rec.meta.body, jam)%>
        <% } %>

        <% include ../partials/footer %>

    </body>
</html>
