<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <%-rec['body']%>

    <% include ../partials/footer %>

</body>
</html>
