<script id="metabox-hbs-HTML" type="text/x-handlebars-template">
    <div class="card card-shadow bgc-white bd-0 mb-4" id="metabox_{{id}}">
        <h6 class="card-header"><i class="lnr-cube ico"></i> {{name}}</h6>
        <textarea style="opacity: 0" name="meta[{{id}}]" data-type="{{type}}" data-wysiwyg>{{val}}</textarea>
    </div>
</script>
