
#admin-alert {
	display: none;
}

.form-control[readonly] {
	background-color: #FFF;
}

.card-shadow {
	box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
}


.input-group label {
	margin-bottom: 0;
}


#admin-form {
	h1, h2, h3, h4, h5, h6 {
		.ico {
			float: left;
			margin-top: 2px;
			margin-right: 16px;
		}
	}

	.input-group .btn {
		padding-top: .4rem;
	}
}

.admin-list {
    .btn-new {
        text-transform: uppercase;

        @media (max-width: 575px) {
            width: 100%;
            padding: 7px;
            margin: 10px 0 20px 0;
            font-size: 12px;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            padding: 7px 5px;
            font-size: 12px;
        }
    }

    td, th {
        vertical-align: middle;
        padding: 0.25rem 0.75rem;
    }

    td a {
        width: 100%;
        display: block;
        text-decoration: none;
    }

    .badge {
        font-weight: normal;
        margin-right: 5px;
    }
}

.code {
    font-family: monospace;
}

.sub-active:after {
    border-left: none !important;
}

.card {
    .trumbowyg-box, .trumbowyg-editor {
        border: 0;
        margin: 0;
    }
}

.blocks,
.widgets {
    .card:not(:last-child) {
        margin-bottom: 24px;
    }

    .metabox-OBJECT,
    .metabox-ARRAY {
        textarea {
            font-family: monospace;
            line-height: 2.35;
        }
    }

    .card-header {
        position: relative;
        .float-right {
            position: absolute;
            float: none;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        [data-toggle="collapse"] {
            width: 46px;
        }
    }
}
.blocks {
    .card-header {
        padding-left: .9rem;
        padding-right: .9rem;
    }
}
.widgets {
    .card-header {
        [data-toggle="collapse"] {
            width: 62px;
        }
    }
}

[data-toggle="collapse"] {
    i {
        transition: transform .5s;
        transform: rotateX(0deg);
    }

    &[aria-expanded="false"] {
        i {
            display: block;
            transform: rotateX(180deg);
        }
    }
}

.float-center {
    margin: 0 auto;

    label {
        margin-bottom: 0;
    }
}

.slide-toggle {
    width: 100%;
    display: none;
}
