
#admin-alert {
	display: none;
}

.form-control[readonly] {
	background-color: #FFF;
}

.card-shadow {
	box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
}


.input-group label {
	margin-bottom: 0;
}


#admin-form {
	h1, h2, h3, h4, h5, h6 {
		.ico {
			float: left;
			margin-top: 2px;
			margin-right: 16px;
		}
	}

	.input-group .btn {
		padding-top: .4rem;
	}
}

.admin-list {
    .btn-new {
        text-transform: uppercase;

        @media (max-width: 575px) {
            width: 100%;
            padding: 7px;
            margin: 10px 0 20px 0;
            font-size: 12px;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            padding: 7px 5px;
            font-size: 12px;
        }
    }

    td, th {
        vertical-align: middle;
        padding: 0.25rem 0.75rem;
    }

    td a {
        width: 100%;
        display: block;
        text-decoration: none;
    }

    .badge {
        font-weight: normal;
        margin-right: 5px;
    }
}

.code {
    font-family: monospace;
}
