<!--// Widget widget-post-url //-->
<script id="route-hbs" type="text/x-handlebars-template">
    <div class="input-group mt-xs">
        <span class="input-group-btn">
		    <button class="btn btn-secondary bd-r-0" type="button" data-target=".input-group" data-remove style="width: 46px;"><i class="lnr-cross"></i></button>
        </span>
        <span class="input-group-addon bgc-white">/category</span>
        <input type="text" class="form-control pl-s" placeholder="/page-url" autocapitalize="off" autocomplete="off" autocorrect="off" name="routes" data-slug="blur" />
        <span class="input-group-btn">
            <button class="btn btn-primary bd-l-0" type="button" data-clone="#route-hbs" data-target="#admin-routes" style="width: 46px;"><i class="lnr-plus"></i></button>
        </span>
    </div>
</script>

<div id="admin-routes-req" class="input-group">
    <span class="input-group-addon bgc-white" style="width: 46px;"><i class="lnr-link2"></i></span>
    <span class="input-group-addon bgc-white">/category</span>
    <% if (rec['routes']) { let r = _.clone(rec.routes); %>
    <input type="text" class="form-control pl-s" placeholder="/page-url" name="routes" required data-slug="blur" autocapitalize="off" autocomplete="off" autocorrect="off" value="<%=r[0]%>" />
    <% } else { %>
    <input type="text" class="form-control pl-s" placeholder="/page-url" name="routes" required data-slug="blur" autocapitalize="off" autocomplete="off" autocorrect="off" />
    <% } %>
    <span class="input-group-btn">
	    <button class="btn btn-primary" type="button" data-clone="#route-hbs" data-target="#admin-routes" style="width: 46px;">
            <i class="lnr-plus"></i>
        </button>
    </span>
</div>
<div id="admin-routes" class="mb-l">
    <% if ((rec['routes'])) { let r = _.clone(rec.routes); r.shift(); -%>
    <% r.forEach((route) => { %>
    <div class="input-group mt-xs">
        <span class="input-group-btn">
            <button class="btn btn-secondary bd-r-0" type="button" data-target=".input-group" data-remove style="width: 46px;"><i class="lnr-cross"></i></button>
        </span>
        <span class="input-group-addon bgc-white">/category</span>
        <input type="text" class="form-control pl-s" placeholder="/page-url" autocapitalize="off" autocomplete="off" autocorrect="off" name="routes" data-slug="blur" value="<%= route %>"/>
        <span class="input-group-btn">
            <button class="btn btn-primary bd-l-0" type="button" data-clone="#route-hbs" data-target="#admin-routes" style="width: 46px;"><i class="lnr-plus"></i></button>
        </span>
    </div>
    <% }); %>
    <% } -%>
</div>
