		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title><%=(jam.hasOwnProperty('title')) ? jam.title : jam.config.title%></title>

		<!-- admin styles -->
		<link rel="stylesheet" href="/assets/_core/admin/style.css">
		<!-- /admin styles -->

        <!-- custom admin styles -->
        <link rel="stylesheet" href="/assets/css/admin.css">
        <!-- /custom admin styles -->

        <!-- vendor scripts -->
        <script type="text/javascript" src="/assets/js/vendor-core.js"></script>
