<li class="list-menu-heading <%=(url[1] === 'nav' || url[1] === 'navs') ? 'active' : ''%>" data-toggle="collapse" href="#admin-menu-collapse-<%=index%>" aria-expanded="true" aria-controls="admin-menu-collapse-<%=index%>">
	<h6><i class="lnr-menu3 ico"></i>Navigation</h6>
</li>
<li class="list-sub-menu collapse show" id="admin-menu-collapse-<%=index%>" aria-expanded="true">
	<ul class="list-sub-menu">
		<li><a href="#" class="list-menu-item">Header</a></li>
		<li><a href="#" class="list-menu-item">Footer</a></li>
	</ul>
</li>
