<!doctype html>
<html lang="en">
<head>
    <%- include ./partials/head -%>
</head>
<body class="login bgc-gray-lightest">
<main role="main">
    <div class="card card-shadow">
        <div id="login-form" class="bgc-white">
            <div class="text-center">
                <img src="/assets/images/logo.jpg" class="logo rounded-circle" />
            </div>
            <div class="card-block">
                <div class="pt-4 pb-4 pr-2 pl-2 text-center">
                    Jam has not been installed.<br />Visit the docs for info on how to get started.
                </div>
                <div class="form-group pt-s pb-s">
                    <hr />
                </div>
                <div class="form-group">
                    <a href="https://github.com/camdagr8/jam/blob/master/readme.md" target="_blank" class="btn btn-danger btn-lg btn-block rounded text-uppercase">View Docs</a>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include ./partials/footer -%>
</body>
</html>
