<footer class="footer footer-default bgc-gray txtc-white pt-xxl pb-xxl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="mb-l">
                    <h6>Ravida pellentesque</h6>
                </div>
                <ul>
                    <li><a href="javascript:void(0);">Lit vitae sapie</a></li>
                    <li><a href="javascript:void(0);">St non consequa</a></li>
                    <li><a href="javascript:void(0);">Turpis sapien</a></li>
                    <li><a href="javascript:void(0);">Tur accumsan</a></li>
                    <li><a href="javascript:void(0);">Endisse dapibus</a></li>
                    <li><a href="javascript:void(0);">Er ut varius</a></li>
                    <li><a href="javascript:void(0);">Diet ut aliquam</a></li>
                    <li><a href="javascript:void(0);">Sum ut suscipit</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="mb-l">
                    <h6>Et dictum elit nulla</h6>
                </div>
                <ul>
                    <li><a href="javascript:void(0);">Gnissim leo lib</a></li>
                    <li><a href="javascript:void(0);">Arcu ut eget</a></li>
                    <li><a href="javascript:void(0);">Tempus phasell</a></li>
                    <li><a href="javascript:void(0);">Molestie enim</a></li>
                    <li><a href="javascript:void(0);">A urna hendreri</a></li>
                    <li><a href="javascript:void(0);">Varius congue</a></li>
                    <li><a href="javascript:void(0);">Nar nulla scele</a></li>
                    <li><a href="javascript:void(0);">It amet ultrice</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="mb-l">
                    <h6>Ac et nibh praesent</h6>
                </div>
                <ul>
                    <li><a href="javascript:void(0);">I eu nulla id</a></li>
                    <li><a href="javascript:void(0);">Um sem integer</a></li>
                    <li><a href="javascript:void(0);">Itae sapien int</a></li>
                    <li><a href="javascript:void(0);">Ae vivamus risu</a></li>
                    <li><a href="javascript:void(0);">Lit purus donec</a></li>
                    <li><a href="javascript:void(0);">Id venenatis</a></li>
                    <li><a href="javascript:void(0);">Dictum mauris</a></li>
                    <li><a href="javascript:void(0);">A nunc sed</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="mb-l">
                    <h6>Accumsan dolor biben</h6>
                </div>
                <ul>
                    <li><a href="javascript:void(0);">Mentum mauris</a></li>
                    <li><a href="javascript:void(0);">Nec felis</a></li>
                    <li><a href="javascript:void(0);">Quis est curabi</a></li>
                    <li><a href="javascript:void(0);">A tellus sit</a></li>
                    <li><a href="javascript:void(0);">Stique tincidun</a></li>
                    <li><a href="javascript:void(0);">Massa pulvinar</a></li>
                    <li><a href="javascript:void(0);">Eu odio laoree</a></li>
                    <li><a href="javascript:void(0);">Or nisi vel lig</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- vendor scripts -->
<script src="/assets/toolkit/scripts/vendor.js"></script>
<!--/vendor scripts -->

<!-- app scripts -->
<script src="/assets/js/app.js"></script>
<!-- /app scripts -->
