<div id="dashboard">
    <div class="row">
        <% if (jam.dashboards) { %>

        <% jam.dashboards.forEach(function (widget, i) { %>
        <%- include(widget, {index: i}) -%>
        <% }); %>

        <% } %>
    </div>
</div>
