<!--// Widget comments //-->
<li class="list-menu-link <%=(url[1] === 'comment' || url[1] === 'comments') ? 'active' : ''%>">
    <h6><a href="<%=baseurl%>/admin/comments/1/"><i class="lnr-bubbles ico"></i>Comments</a></h6>
</li>
