<!--// Widget comments //-->
<li class="list-menu-link <%=(jam.url[1] === 'comment' || jam.url[1] === 'comments') ? 'active' : ''%>">
    <h6><a href="<%=jam.baseurl%>/admin/comments/1/"><i class="lnr-bubbles ico"></i>Comments</a></h6>
</li>
