<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-md-4">
    <div data-ratio="4:3" class="card-media card-shadow">
        <div class="card-media-icon">
            <i class="lnr-cloud-download"></i>
            <div class="label"><%=item.name%></div>
        </div>

        <div class="card-media-info">
            <div style="width: 100%" class="row">
                <div class="col-12 col-md-9 mx-auto">
                    <a class="btn btn-sm btn-outline-primary btn-block txt-uppercase" href="/cdn/<%=item.name%>" target="_blank">Download</a>
                </div>
            </div>
            <button type="button" class="card-media-delete btn btn-sm btn-outline-danger bd-0">
                <i class="lnr-cross"></i>
            </button>
            <div class="label"><%=item.name%></div>
        </div>
    </div>
</div>
