<section class="mt-2 mt-sm-2 mt-md-4 mt-lg-0">
    <div class="d-flex">
         <h5 class="d-inline-block"><i class="lnr-picture ico"></i> Media Library</h5>
    </div>
</section>

<% if (jam.can_upload) { %>
<% include ./dropzone %>
<% } %>

<% include ./filters %>

<!--// Library //-->
<section id="media-library-list" class="bgc-gray-lightest row">
    <% files.list.forEach((item, i) => { %>
    <%- include(item.template, {item: item}) -%>
    <% }); %>
</section>

<% include ./pagination %>

<% include ./editor %>

<% include ./hbs %>
